In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data = pd.read_csv(r"C:\Users\DELL\Downloads\survey_data (1).csv.crdownload")
print(data.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

In [5]:
duplicates = data.isnull().sum()
print('duplicate rows:', duplicates)

duplicate rows: ResponseId                0
MainBranch                0
Age                       0
Employment                0
RemoteWork              478
                       ...
JobSatPoints_11        1386
SurveyLength             44
SurveyEase               39
ConvertedCompYearly    1483
JobSat                 1408
Length: 114, dtype: int64

In [7]:
data.drop_duplicates(inplace=True)

In [9]:
duplicate_removed = data.duplicated().sum()
print(f'after removing duplicates:', duplicate_removed)

after removing duplicates: 0

In [11]:
missing_values = data.isnull().sum()
missing_values = missing_values[missing_values > 0]
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 RemoteWork              478
CodingActivities        479
LearnCode                 8
LearnCodeOnline         487
TechDoc                 826
                       ...
JobSatPoints_11        1386
SurveyLength             44
SurveyEase               39
ConvertedCompYearly    1483
JobSat                 1408
Length: 108, dtype: int64

In [17]:
remotework_missing = data['RemoteWork'].isna().sum()
print(f'missing rows in remotework:', remotework_missing)

missing rows in remotework: 478

In [19]:
data['RemoteWork'].value_counts()

RemoteWork
Remote                                  1149
Hybrid (some remote, some in-person)     858
In-person                                407
Name: count, dtype: int64

In [21]:
most_frequent_remote_work = data['RemoteWork'].mode()[0]
print("Most frequent value in 'RemoteWork':", most_frequent_remote_work)

Most frequent value in 'RemoteWork': Remote

In [25]:
data['RemoteWork'].fillna(data['RemoteWork'].mode()[0])

0                                     Remote
1                                     Remote
2                                     Remote
3                                     Remote
4                                     Remote
                        ...
2887                               In-person
2888                               In-person
2889    Hybrid (some remote, some in-person)
2890    Hybrid (some remote, some in-person)
2891                                  Remote
Name: RemoteWork, Length: 2892, dtype: object

In [29]:
most_frequent_remote_work = data['RemoteWork'].mode()[0]
data['RemoteWork'].fillna(most_frequent_remote_work, inplace=True)
print("Missing values in 'RemoteWork' after imputation:", data['RemoteWork'].isnull().sum())

Missing values in 'RemoteWork' after imputation: 0

In [31]:
comp = [col for col in data.columns if 'Comp' in col]
print('compensation related column', comp)

compensation related column ['CompTotal', 'AIComplex', 'ConvertedCompYearly']

In [39]:
print(data['CompTotal'].describe())

count    1.418000e+03
mean     8.260054e+07
std      2.669125e+09
min      0.000000e+00
25%      6.500000e+04
50%      1.200000e+05
75%      2.097500e+05
max      1.000000e+11
Name: CompTotal, dtype: float64

In [43]:
print(data['AIComplex'].describe())

count                              1643
unique                                5
top       Bad at handling complex tasks
freq                                523
Name: AIComplex, dtype: object

In [45]:
print(data['ConvertedCompYearly'].describe())

count    1.409000e+03
mean     1.022001e+05
std      1.048656e+05
min      4.000000e+00
25%      4.500000e+04
50%      8.280200e+04
75%      1.350000e+05
max      2.000000e+06
Name: ConvertedCompYearly, dtype: float64